provider "google" {
  user_project_override = true
  billing_project       = "<YOUR_QUOTA_PROJECT_ID>"
}

provider "google-beta" {
  user_project_override = true
  billing_project       = "<YOUR_QUOTA_PROJECT_ID>"
}
